.header {
	display: flex;
	height:10vh;
	flex-direction: column;
	background-color: rgb(84, 198, 76) ;
	color: white;
}
.header .header__top {
	position: relative;
	display: flex;
	justify-content: flex-start;
	height: 100%;
    border-bottom: 3px solid white;
}
.header .header__top .left {
	display: flex;
	width: 25%;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
    padding-left: 30px;
}
.header .header__top .left .exit{
    text-decoration:none ;
    color:aliceblue;
}
.header .header__top .center {
	display: flex;
    width: 100%;
	justify-content: center;
	align-items: center;
}
.header .header__top .center .search-block {
	position: relative;
	width: 25rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	border-radius: 100px;
	background-color: rgb(255, 255, 255);

}

.header .header__top .center .search-block i {
	color: black;
}
.header .header__top .right {
	display: flex;
	width: 25%;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
    padding: 30px;
}

.header .header__top .right span {
	font-size: 16px;
	text-wrap: nowrap;
}

.header .header__top .right img {
	width: 35px;
	height: 35px;
	border-radius:50%;
}
.header .header__top .help-button {
	position:fixed;
    bottom:10px;
    right:20px;
    background-color:rgb(178, 237, 232);
    color:rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius:30px;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0 4px 8px rgb(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.help-button:hover {
    background-color:#0056b3;
    transform: scale(1.1)
}
.content{
	display:flex;
}
.left-column{
	flex:3;
	margin-top:10px;
}
.right-column{
	flex:7;
	background:rgb(255, 255, 255);
	padding: 10px;
}
.body{
	display:flex;
}
.left-column{
	width:2.5%;
	background-color: #007519;
	padding: 10px;
	height:100vh;
	overflow-y:auto;
}
.left-column h2{
	font-size: 1em;
	color:rgb(0, 0, 0);
	margin-bottom:15px;
	text-align: center;
	margin-top:5px;
}
.chapter h3{
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom:5px;
	text-align: center;
    margin-bottom:10px;
}
.chapter h4{
	font-size: 1em;
	margin-top: 10px;
	margin-bottom:5px;
	text-align: center;
    margin-bottom:10px;
}
.chapter ul{
	list-style-type:none;
	background-color:#09721f;
	color:#ffffff;
	position:relative;
    font-size:1.2em;
    white-space: normal;
    padding:0;
}
.chapter a {
	text-decoration: none;
}
.chapter ul li{
    color:#000000;
	margin :5px 0;
    width:325px;
    padding:10px;
    background-color: #ffffff;
    white-space: normal;
    transition: background-color 0.3s, transform 0.3s;
}
li:hover {
    background-color:#44a950;
    transform: scale(1.02);
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.2);
}
.chapter .lesson{
	text-decoration: none;
	color:#000000;
}
.header__navBar {
	background-color:rgb(172,253,190);
	gap: 20px;
	padding: 0 20px;
}
.navBar__element {
	background-color: rgb(44, 221, 91);
    padding: 0 20px;
    border-radius: 2px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
	cursor:pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
	border:5px;
	display:inline-block;
	margin-right: 10px;
}